Dengan attribute yg ada, berapa kemungkinan akan purchase?

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [4]:
df = pd.read_csv('Social_Network_Ads.csv')

df.drop('User ID', axis=1,inplace=True)
df.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

One Hot Encoding ("Gender")

In [12]:
data = pd.get_dummies(df)
data

     Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0     19            19000          0              0            1
1     35            20000          0              0            1
2     26            43000          0              1            0
3     27            57000          0              1            0
4     19            76000          0              0            1
..   ...              ...        ...            ...          ...
395   46            41000          1              1            0
396   51            23000          1              0            1
397   50            20000          1              1            0
398   36            33000          0              0            1
399   49            36000          1              1            0

[400 rows x 5 columns]

Separate attribute & label

In [0]:
predictions = ['Age','EstimatedSalary' , 'Gender_Female' , 'Gender_Male']
x = data[predictions]
y = data['Purchased']

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.25,random_state=42)

Create model

In [16]:
from sklearn. linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train, y_train)

model.score(x_test, y_test)

0.63